In [129]:
#NAMA/NIM = William Andrian Dharma T / 19623048
#TANGGAL = 16/11/23
#DESKRIPSI = Program analisis data

In [130]:
import pandas as pd
import matplotlib as mat
df = pd.read_csv('P05-03.csv')

In [131]:
#nomor 1
len(df.loc[(df['minimum_nights'] == 1) & (df['number_of_reviews'] != 1)])

1841

In [132]:
#nomor 2
max_ava = df["availability_365"].idxmax()
print(df.loc[max_ava,"host_name"])

Francesca

In [133]:
#nomor 3
len(df.loc[((df['neighbourhood_group'] == "Central Region") | (df['neighbourhood_group'] == "East Region")) & (df['price'] < 100)])

2429

In [134]:
#nomor 4 
above_1 = df.loc[df['reviews_per_month'] > 1]
above_1['room_type'].value_counts()

room_type
Entire home/apt    873
Private room       681
Shared room         67
Name: count, dtype: int64

In [135]:
#nomor 5
max_own = df["calculated_host_listings_count"].idxmax()
max_owner = df.loc[max_own,"host_name"]
max_houses = df.loc[df["host_name"] == max_owner]
max_houses.head(n=5)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
507,6079533,Master room 2 with a pool view,31557595,Jay,East Region,Pasir Ris,1.35894,103.96605,Private room,31,90,0,NaN,NaN,2,332
709,7517671,Super Big Master room,10064384,Jay,Central Region,Downtown Core,1.27377,103.84523,Private room,200,90,96,2019-02-13,2.15,10,347
712,7536368,Raffles Master Room,10064384,Jay,Central Region,Downtown Core,1.27400,103.84603,Private room,160,90,11,2018-11-30,0.28,10,364
714,7537301,Ocean view Master Room in Penthouse,10064384,Jay,Central Region,Downtown Core,1.27843,103.84614,Private room,169,90,37,2019-01-06,0.81,10,354
715,7537485,Common Room,10064384,Jay,Central Region,Downtown Core,1.27450,103.84656,Private room,150,90,30,2019-01-04,0.70,10,0